template(name="settings")
	div.container
		div.row
			div.col-sm-12
				h1 Manage
		.d-flex.flex-row.mt-2
			ul.nav.nav-tabs.nav-tabs--vertical.nav-tabs--left(role='navigation')
				li.nav-item
					a.nav-link(class="{{isActiveRoute 'settings_myProjects'}}" href="{{pathFor 'settings_myProjects'}}") My Campaigns
				//- li.nav-item
					a.nav-link(class="{{isActiveRoute 'settings_myDonations'}}" href="{{pathFor 'settings_myDonations'}}") My Donations
				if isAdmin
					li.nav-item
						a.nav-link(class="{{isActiveRoute 'settings_admin'}}" href="{{pathFor 'settings_admin'}}") CFS Admin
					li.nav-item
						a.nav-link(class="{{isActiveRoute 'settings_seo'}}" href="{{pathFor 'settings_seo'}}") CFS Meta
			.tab-content.w-100
				+settings_myProjects
				+settings_myDonations
				+settings_admin
				+settings_Meta

template(name="settings_myDonations")
	#myDonations.tab-pane.fade(role='tabpanel' class="{{isActiveRoute_Tab 'settings_myDonations'}}")
		h2 My Donations
		p
			| [ list of donations ]

template(name="settings_admin")
	#admin.tab-pane.fade(role='tabpanel' class="{{isActiveRoute_Tab 'settings_admin'}}")
		h2 Campaigns

		h5 Pending Review
		if projectsPending.count
			ul.list-group
				each project in projectsPending
					+pendingCampaignListItem(project=project)
		else
			.alert.alert-primary(role="alert")
				|There are no campaigns pending review.

		br
		h5 Active
		if projectsActive.count
			ul.list-group
				each project in projectsActive
					+activeCampaignListItem(project=project)
		else
			.alert.alert-primary(role="alert")
				|There are no active campaigns.

		br
		h5 Rejected
		if projectsRejected.count
			ul.list-group
				each project in projectsRejected
					+rejectedCampaignListItem(project=project)
		else
			.alert.alert-primary(role="alert")
				|There are no rejected campaigns.

template(name="pendingCampaignListItem")
	+with(project)
		li.list-group-item
			.row
				.col-6
					a(href="{{pathFor 'projectShow' projectId=_id}}") #{title}
				.col-6.text-right
					+approveProjectButton
					|&nbsp;
					+rejectProjectButton

template(name="activeCampaignListItem")
	+with(project)
		li.list-group-item
			.row
				.col-6
					a(href="{{pathFor 'projectShow' projectId=_id}}") #{title}
				.col-6.text-right
					if canFeatureProjects
						if bools.isFeatured
							+unfeatureProjectButton
						else
							+featureProjectButton
					else
						if bools.isFeatured
							Featured
					|&nbsp;
					+rejectProjectButton

template(name="rejectedCampaignListItem")
	+with(project)
		li.list-group-item
			.row
				.col-6
					a(href="{{pathFor 'projectShow' projectId=_id}}") #{title}
				.col-6.text-right
					+approveProjectButton

template(name="approveProjectButton")
	a.btn.btn-sm.btn-primary.approveProject(href="#" role="button") Approve

template(name="rejectProjectButton")
	a.btn.btn-sm.btn-danger.rejectProject(href="#" role="button") Reject

template(name="featureProjectButton")
	a.btn.btn-sm.btn-primary.featureProject(href="#" role="button") Feature

template(name="unfeatureProjectButton")
	a.btn.btn-sm.btn-secondary.unfeatureProject(href="#" role="button") Un-Feature
