template(name="projectDonationClaimsAdmin")
	h1 Donation claims
	p.text-muted #{project.title}
	p Donors have the opportunity to be listed as contributors on your project by submitting a donation claim.
		|These are the people who have submitted a donation claim. Verify and then approve or reject.
	p note: When someone donates cryptocurrency to the address(es) listed on your project, the amount is automatically added to the campaign total, even if they don't submit a donation claim. 
		|However if a donor pays you externally (say, with cash or wire transfer), 
		|then to add that amount to the campaign total you need to 
		a(href="{{pathFor 'projectExternalFundsAdmin' projectId=project._id}}" role="button") add the external funding on the External Funds page.	
	if donationClaims.count
		ul.list-group
			each donationClaim in donationClaims
				+donationClaimListItem(donationClaim=donationClaim)
	else
		.alert.alert-primary(role="alert")
			|Nobody has submitted a donation claim for this project.
	a.btn.btn-link(role="button" href="{{pathFor 'settings_myProjects'}}") Back
			
template(name="donationClaimListItem")
	+with(donationClaim)
		li.list-group-item
			.row
				.col-6 
					table
						tr
							td
								p claim &nbsp;&nbsp;
									span.badge.badge-light private 
									//- |(private )
							td
								p
									|&nbsp;&nbsp;#{content}
						tr
							td
								p display text &nbsp;&nbsp;
									span.badge.badge-light public 
									//- |(public)
							td
								p
									|&nbsp;&nbsp;#{title}
				.col-6.text-right
					if reviewed
						if approved
							span.badge.badge-light approved
							//- |approved &nbsp;&nbsp;
							|&nbsp;&nbsp;
							a.btn.btn-sm.btn-danger.rejectDonationClaim(href="#" role="button") Reject
						else
							span.badge.badge-light rejected
							|&nbsp;&nbsp;
							//- |rejected &nbsp;&nbsp;
							a.btn.btn-sm.btn-primary.approveDonationClaim(href="#" role="button") Approve
					else 
						a.btn.btn-sm.btn-primary.approveDonationClaim(href="#" role="button") Approve
						|&nbsp;
						a.btn.btn-sm.btn-danger.rejectDonationClaim(href="#" role="button") Reject