template(name="projectExternalFundsNew")
	.project-externalFunds-new
		.card
			h2.card-title.card-header Add external funding
			.card-body
				if Template.subscriptionsReady
					//- h4.card-subtitle #{projectName}
					//- br
					h6.card-subtitle 
						|Add external funding for "
						span.text-muted #{projectName}
						|". The amount will be reflected in the campaign total.
					br
					hr
					br
					+autoForm schema=createExternalFundsSchema id="externalFundNewForm" type="method" meteormethod="externalFunds.create"
						+afQuickField name='title'
						+afQuickField name='amount' 
						+afQuickField name='projectId' readonly=true value=projectId type='hidden'
						br
						button.btn.btn-primary(type="submit") Add external funding
						a.btn.btn-link(role="button" href="{{pathFor 'projectExternalFundsAdmin' projectId=projectId}}") Back